*{
    font-family: sans-serif ;
}

body {
    padding: 7rem 14rem;
    background-color: rgb(235,243,250)
}

h1{
    padding: 1rem 0rem 3rem 0rem;
}

.form{
    display: grid;
    background-color: white;
    padding: 0rem 15rem 2rem 3rem;
    border: 3px solid white;
    border-radius: 5px;
    border-top: 3px solid rgb(74,144,226);
}

.label{
    font-weight: bold;
    padding-top: 2rem
}

input[type="text"], textarea{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
}

input[type=file] {
    display:none;
    margin:10px;
}

.browse{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 5px 10px 25px;
    width: 7rem;
}

.form button{
    cursor: pointer;
    background-color: rgb(126,211,33);
    border: 1px solid rgb(126,211,33);
    border-radius: 5px;
    color: white;
    margin-top: 2rem;
    width: 6rem; 
}

.form p{
    font-weight: bold;
    margin-top: 2rem;
}

.profile{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top: 4px solid rgb(74,144,226);
    box-shadow: 0px 0px 10px lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "img name ."
        "img gender button"
        "img location .";
    padding: 25px;
    margin-bottom: 2rem;
}

.profile img{
    grid-area: img;
    width: 10rem;
    height: 11rem
}

.name{
    align-self: end;
    font-weight: bold;
    font-size: 24px;
    grid-area: name;
}

.gender{
    align-self: center;
    color: rgb(189,189,189);
    font-weight: bold;
    font-size: 18px;
    grid-area: gender;
}

.location{
    color: rgb(189,189,189);
    font-weight: bold;
    font-size: 18px;
    grid-area: location;
}

.profile a{
    background-color: rgb(126,211,33);
    border: 1px solid rgb(126,211,33);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    grid-area: button;
    height: 40px;
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
    width: 10rem;
    padding: 5px;
}

.specificProfile{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top: 4px solid rgb(74,144,226);
    box-shadow: 0px 0px 10px lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "img name"
        "img email"
        "img location"
        "img created"
        "label ."
        "bio bio"
        "send follow";
    margin-left: 6rem;
    width: 35rem;
    padding: 45px 45px 10px 45px;
}

.specificProfile img{
    grid-area: img;
    width: 9rem;
    height: 10rem
}

.specificProfile .name{
    grid-area: name;
}

.specificProfile .email{
    color: rgb(189,189,189);
    grid-area: email;
    margin-top: -10px;
}

.specificProfile .created{
    color: rgb(189,189,189);
    grid-area: created;
    margin-top: -25px;

}

.specificProfile .aboutLabel{
    color: gray; 
    font-weight: bold;
    grid-area: label;
}

.specificProfile .send{
    grid-area: send;
    background-color: rgb(126,211,33);
    border: 1px solid rgb(126,211,33);
    border-radius: 5px;
    color: white;
    height: 40px;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 12rem; 
}

.specificProfile .follow{
    grid-area: follow;
    background-color: rgb(74,144,226);
    border: 1px solid rgb(74,144,226);
    border-radius: 5px;
    color: white;
    height: 40px;
    margin-left: 20px; 
    margin-top: 1rem;
    width: 12rem; 
}

.specificProfile .bio{
    color: gray;
    grid-area: bio; 
}

.specificProfile .location{
    grid-area: location;
    font-weight: normal;
    margin-top: -20px;
}








