{% extends 'base.html' %}

{% block main %}
<h1>Profiles</h1>
{% for profile in profiles %}
	<div class="profile">
		<img src="{{ profile.img_address }}" alt="Error loading image" class="image">
		<p class="name">{{ profile.first_name }} {{ profile.last_name }}</p>
		<p class="gender"><i class="fas fa-user" style="color:rgb(189,189,189);;"></i>  {{ profile.gender }}</p>
		<p class="location"><i class="fas fa-map-marker-alt" style="color:rgb(189,189,189);;"></i>  {{ profile.location }}</p>
		<a href="{{ url_for('specific_profile', id=profile.id) }}" class="button">View Profile</a>
	</div>
{% endfor %}
{% endblock %}


	
	
	